* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: rgb(249, 210, 166);
}

.signup,
.signin {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    width: 100%;
    max-width: 500px;
    gap: 10px;
    padding: 25px;
    border: 5px solid rgb(247, 182, 103);
    border-radius: 10px;
    box-shadow: 2px 2px 4px;
    background-color: bisque;
    margin: 100px;

}

h1 {
    text-align: center;
}

.signin input,
.signup input {
    padding: 2px;
    border-radius: 5px;
}

.signin {
    height: 500px;
    width: 500px;
    padding: 50px;

}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 60px;
    right: -200px;
    width: 100px;
    gap: 12px;
    list-style: none;
    transition: 0.3s ease;


}

ul a {

    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

.show {
    right: 0;
}

.menuicon img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

nav .b1 {
    color: rgb(9, 152, 181);
    border: none;
    border-radius: 4px;
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    font-weight: bold;
}

nav .b2 {
    background-color: rgb(9, 152, 181);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: bold;
}



.hero {
    width: 100%;
    padding: 60px 20px;
}

.hero-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    align-items: center;
}


.hero-text .sub {
    font-size: 1.5rem;
    color: rgb(12, 165, 189);
    margin-bottom: 10px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;

}

.hero-text .subtitle {
    font-size: 1.2rem;
    margin-bottom: 25px;

}

.btn {
    background: rgb(9, 152, 181);
    padding: 14px 34px;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s;
}

.btn:hover {
    background: #a8dde2;
}


.hero-image img {
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
    height: 450px;
}

.describe {
    font-size: 1.3rem;
    text-align: center;
    padding: 15px;
}

.describe h1 {
    margin: 20px;
}

.describe img {
    width: 100%;
    height: 500px;
    margin: 20px;
    padding: 25px;
}

.features-container {
    display: grid;
    gap: 15px;
    justify-content: center;
    padding: 50px;
    align-items: center;
}


.features-container .card {
    height: 300px;
    width: 400px;
    background: white;
    border-radius: 8px;
    text-align: center;
    padding: 40px;
}

.features-container .card img {
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
}

.dest-container {
    display: grid;
    gap: 15px;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    margin: 10px;
    align-items: center;

}

.dest-container .card {
    min-height: 400px;
    width: 400px;
    padding: 10px;
    text-align: center;


}

.dest-container .card img {
    width: 100%;
    height: 250px;

}

.connect {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.connect form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 600px;
    width: 500px;
    border: 2px solid black;
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(20, 20, 20);
    background-color: bisque;
}

.connect button,
input,
label {

    margin-top: 15px;
    padding: 10px;
}

.connect button {
    border: none;
    color: white;
    background-color: rgb(6, 78, 93);
    border-radius: 7px;
    width: 200px;
    margin-left: 150px;
    cursor: pointer;
    transition: background-color 0.5s;
    font-size: 1.2rem;
    font-weight: bold;

}

button:hover {
    background-color: rgb(175, 224, 234);
}

footer {
    background-color: antiquewhite;
    padding: 5px;
    text-align: center;
}



@media (max-width:768px) {
    nav .logbtn {
        display: none;
    }

    .features-container {

        grid-template-columns: 1fr;

    }

    .dest-container {
        grid-template-columns: 1fr;
    }

}


@media(min-width:769px) {
    .menuicon {
        display: none;
    }

    ul {
        position: static;
        display: flex;
        flex-direction: row;
        width: auto;
        gap: 20px;
        transition: none;

    }

    nav .logbtn {
        display: flex;
    }

    .hero-container {
        grid-template-columns: 1fr 1fr;
    }

    .features-container {
        grid-template-columns: 1fr 1fr;

    }

    .dest-container {
        grid-template-columns: 1fr 1fr;

    }
}

@media(min-width:1024px) {
    .features-container {
        grid-template-columns: 1fr 1fr 1fr;

    }

    .dest-container {
        grid-template-columns: 1fr 1fr 1fr;

    }

}